/* CSS version 1.3 https://github.com/stadium-software/workflow-steps */
:root {
	--workflow-container-width: auto;
	--workflow-container-background-color: #fff;
	--workflow-container-border-color: #dddddd;
	--workflow-container-border-radius: 4px;
	--workflow-container-padding: 20px;
	--workflow-container-background-line-color: rgb(25, 118, 210);
	--workflow-container-background-line-thickness: 2px;

	--workflow-steps-gap: 26px;
	--workflow-step-max-width: 200px;

	--workflow-item-title-font-size: 16px;
	--workflow-item-title-font-weight: normal;
	--workflow-item-title-font-color: #333;

	--workflow-item-link-underline: underline;
	--workflow-item-link-color: #20639B;
	
	--workflow-item-description-font-size: 12px;
	--workflow-item-description-font-color: #444;

	--workflow-item-circle-size: 30px;
	--workflow-item-circle-border-color: transparent;
	--workflow-item-circle-border-size: 1px;
	--workflow-item-circle-border-style: solid;
	--workflow-item-icon-color: #333;
	--workflow-item-icon-background-color: #cccccc;
	--workflow-item-icon-distance-from-title: 10px;
	--workflow-item-icon-size: 24px;

	/*Complete Icon*/
	--workflow-item-completed-icon-background-color: #009688;
	--workflow-item-completed-icon-color: white;
	--workflow-item-completed-circle-border-color: #ccc;

	/*Error Icon*/
	--workflow-item-error-icon-background-color: #954661;
	--workflow-item-error-icon-color: #fff;
	--workflow-item-error-circle-border-color: #ccc;

	/*Warning Icon*/
	--workflow-item-warning-icon-background-color: #EEE8A9;
	--workflow-item-warning-icon-color: #333;
	--workflow-item-warning-circle-border-color: #ccc;

	/*Current Icon*/
	--workflow-item-current-icon-background-color: #20639B;
	--workflow-item-current-icon-color: white;
	--workflow-item-current-circle-border-color: #ccc;

	/*Pending Icon*/
	--workflow-item-pending-icon-background-color: #f2f2f2;
	--workflow-item-pending-icon-color: #333;
	--workflow-item-pending-circle-border-color: #ccc;
}
