/* CSS version 1.0 https: //github.com/stadium-software/workflow-steps */
#app .workflow-steps-container {
    --workflow-container-background-line-starting-pos: calc(var(--workflow-container-padding, 20px) + (var(--workflow-item-circle-size, 30px) / 2) - (var(--workflow-container-background-line-thickness, 2px) / 2));
    
    display: inline-flex;
    flex-direction: column;
    width: var(--workflow-container-width, auto);
    background-color: var(--workflow-container-background-color, var(--BODY-BACKGROUND-COLOR));
    padding: var(--workflow-container-padding, 20px);
    border: 1px solid var(--workflow-container-border-color, var(--DARKER-GREY));
    border-radius: var(--workflow-container-border-radius, 4px);
    align-items: stretch;
    justify-items: center;
    gap: var(--workflow-steps-gap, 26px);
    background-image: 
        linear-gradient(to bottom, var(--workflow-container-background-color, var(--BODY-BACKGROUND-COLOR)) var(--workflow-container-background-line-starting-pos), transparent var(--workflow-container-background-line-starting-pos)),
        linear-gradient(to bottom, transparent calc(100% - var(--workflow-container-background-line-starting-pos)), var(--workflow-container-background-color, var(--BODY-BACKGROUND-COLOR)) calc(100% - var(--workflow-container-background-line-starting-pos))),
        linear-gradient(to right, var(--workflow-container-background-color, var(--BODY-BACKGROUND-COLOR)) var(--workflow-container-background-line-starting-pos), var(--workflow-container-background-line-color, var(--SECONDARY-THEME-COLOR)) var(--workflow-container-background-line-starting-pos), var(--workflow-container-background-line-color, var(--SECONDARY-THEME-COLOR)) calc(var(--workflow-container-background-line-starting-pos) + var(--workflow-container-background-line-thickness, 2px)), var(--workflow-container-background-color, var(--BODY-BACKGROUND-COLOR)) calc(var(--workflow-container-background-line-starting-pos) + var(--workflow-container-background-line-thickness, 2px)));

    &:is(.workflow-horizontal) {
        flex-direction: row;
        justify-items: start;
        background-image: 
            linear-gradient(to right, var(--workflow-container-background-color, var(--BODY-BACKGROUND-COLOR)) var(--workflow-container-background-line-starting-pos), transparent var(--workflow-container-background-line-starting-pos)),
            linear-gradient(to right, transparent calc(100% - var(--workflow-container-background-line-starting-pos)), var(--workflow-container-background-color, var(--BODY-BACKGROUND-COLOR)) calc(100% - var(--workflow-container-background-line-starting-pos))),
            linear-gradient(to bottom, var(--workflow-container-background-color, var(--BODY-BACKGROUND-COLOR)) var(--workflow-container-background-line-starting-pos), var(--workflow-container-background-line-color, var(--SECONDARY-THEME-COLOR)) var(--workflow-container-background-line-starting-pos), var(--workflow-container-background-line-color, var(--SECONDARY-THEME-COLOR)) calc(var(--workflow-container-background-line-starting-pos) + var(--workflow-container-background-line-thickness, 2px)), var(--workflow-container-background-color, var(--BODY-BACKGROUND-COLOR)) calc(var(--workflow-container-background-line-starting-pos) + var(--workflow-container-background-line-thickness, 2px)));

        & .workflow-steps-item-container {
            grid-template-columns: auto;
            grid-template-areas:
                "icon"
                "title"
                "description";
            place-items: center;
            grid-column-gap: 0;

            & .workflow-steps-step-description, 
            & .workflow-steps-step-title,
            & .workflow-steps-item-link {
                text-align: center;
            }

            & .workflow-steps-step-icon {
                margin-bottom: var(--workflow-item-icon-distance-from-title, 10px);
                align-self: start;
            }
        }
        & .workflow-steps-item-container:first-child {
            background-image: linear-gradient(to right, var(--workflow-container-background-color, var(--BODY-BACKGROUND-COLOR)) 50%, transparent 50%);
        }
        & .workflow-steps-item-container:last-child {
            background-image: linear-gradient(to right, transparent 50%, var(--workflow-container-background-color, var(--BODY-BACKGROUND-COLOR)) 50%);
        }
    }

    & .workflow-steps-item-container {
        display: inline-grid;
        grid-column-gap: var(--workflow-item-icon-distance-from-title, 10px);
        grid-template-columns: var(--workflow-item-circle-size, 30px) minmax(auto, var(--workflow-step-max-width, 200px));
        align-items: center;
        grid-template-areas:
            "icon title"
            "icon description";
        width: 100%;
        height: 100%;

        & .workflow-steps-step-icon {
            grid-area: icon;
            align-self: center;
            display: grid;
            place-items: center;
            position: relative;
            border-width: var(--workflow-item-circle-border-size, 1px);
            border-style: var(--workflow-item-circle-border-style, solid);
            border-radius: 50%;
            border-color: var(--workflow-item-circle-border-color, transparent);
            border-radius: 50%;
            background-color: var(--workflow-item-icon-background-color, var(--LIGHT-GREY));
            background-position: calc(var(--workflow-item-circle-size, 30px) / 2) 0;
            height: var(--workflow-item-circle-size, 30px);
            width: var(--workflow-item-circle-size, 30px);
            color: var(--workflow-item-icon-color, var(--BODY-FONT-COLOR));
            aspect-ratio: 1;
            margin-bottom: 0;
        }

        & .workflow-steps-step-description {
            grid-area: description;
            font-size: var(--workflow-item-description-font-size, var(--FONT-SIZE-SMALL));
            color: var(--workflow-item-description-font-color, var(--BODY-FONT-COLOR));
            text-align: left;
        }

        & .workflow-steps-step-title {
            grid-area: title;
            font-size: var(--workflow-item-title-font-size, var(--FONT-SIZE-LARGER));
            font-weight: var(--workflow-item-title-font-weight, normal);
            color: var(--workflow-item-title-font-color, var(--BODY-FONT-COLOR));
            text-align: left;
        }

        & .workflow-steps-item-link {
            grid-area: title;
            font-size: var(--workflow-item-title-font-size, var(--FONT-SIZE-LARGER));
            font-weight: var(--workflow-item-title-font-weight, normal);
            color: var(--workflow-item-link-color, var(--LINK-COLOR));
            text-decoration: var(--workflow-item-link-underline, var(--LINK-DECORATION));
            text-align: left;
        }
    }
    & .workflow-steps-item-container:first-child {
        background-image: linear-gradient(to bottom, var(--workflow-container-background-color, var(--BODY-BACKGROUND-COLOR)) 50%, transparent 50%);
    }
    & .workflow-steps-item-container:last-child {
        background-image: linear-gradient(to bottom, transparent 50%, var(--workflow-container-background-color, var(--BODY-BACKGROUND-COLOR)) 50%);
    }
}